# Ignore build outputs
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code / Visual Studio
.idea/
.vscode/
*.log
.vsidx

# Ignore secrets
appsettings.Development.json
secrets.json
