# Build outputs
bin/
obj/
*.cache
*.dll
*.exe

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE and editor folders
.idea/
.vscode/
.vs/

# Logs and temp
*.log
*.vsidx

# Output folders
**/Debug/
**/Release/

# Configuration and secrets
appsettings.*.json
secrets.json
*.backup.json
*.DocumentLayout.json

# VS Project system folders
**/ProjectEvaluation/
**/DesignTimeBuild/

# Compiled binaries
*.bin
